/* Drupal UI components */
footer#footer_site [hidden] {
  display: none;
  /*resets display for contextual links js behavior*/
  float: none;
}
div.contextual li,
div.contextual a:not(.contextual-links-trigger),
#main div.contextual li,
#main div.contextual a:not(.contextual-links-trigger),
footer#footer_site div.contextual li,
footer#footer_site div.contextual a:not(.contextual-links-trigger) {
  border: 0 none;
  float: none;
  display: inherit;
  text-align: left;
}
