{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.alert: Items for the alert region.
 * - page.header_ua: Items for the header_us region which is hidden on the block config page.
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup templates
 */
#}


{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{# Alert #}
{% if page.alert %}
  {% block alert %}
  <div class="row">
      <div class="col-xs-12">
          {{ page.alert }}
      </div>
  </div>
  {% endblock %}
{% endif %} {# End alert  #}

{# Defined in template file: region--header-ua.twig.  #}
{% block header_ua %}
  {% if page.header_ua  %}
    {{ page.header_ua }}
  {% endif %} {# End header_ua #}
{% endblock %}

<header class="header page-row" id="header_site" role="banner">
  <div class="{{ container }}">
    {# Header Region #}
    {% if page.header  %}
      {{ page.header }}
    {% endif %} {# End header  #}
    <div class="row">
      <div class="page-row-padding-top page-row-padding-bottom"></div>
      {# Header Left Region #}
      {% if page.header_left  %}
        {{ page.header_left }}
      {% endif %} {# End header_left  #}

      {# Header Right Region #}
      {% if page.header_right  %}
        {{ page.header_right }}
      {% endif %} {# End header_right  #}
    </div>
  </div> <!-- /.container -->

    {# Navbar #}
    {% if page.navigation or page.navigation_collapsible %}
      <div class="{{ container }}">
        {% block navbar %}
          {%
            set navbar_classes = [
              'navbar',
              theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
              theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
            ]
          %}
          <div{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
            {% if not navbar_attributes.hasClass(container) %}
              <div class="{{ container }}">
            {% endif %}
            <div class="navbar-header">
              {{ page.navigation }}
              {# .btn-navbar is used as the toggle for collapsed navbar content #}
              {% if page.navigation_collapsible %}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              {% endif %}
            </div>

            {# Navigation (collapsible) #}
            {% if page.navigation_collapsible %}
              <div id="navbar-collapse" class="navbar-collapse collapse">
                {{ page.navigation_collapsible }}
              </div>
            {% endif %}
            {% if not navbar_attributes.hasClass(container) %}
              </div>
            {% endif %}
          </div>
        {% endblock %}
      </div>
    {% endif %}
</header>




{# Main #}
<div role="main" class="page-row page-row-expanded page-row-padding-bottom js-quickedit-main-content">
{% block main %}

  {# Help #}
  {% if page.help %}
    <section class="{{ container }}">
        <div class="row">
            <div class="col-xs-12">
                {% if page.help  %}
                {{ page.help }}
                {% endif %}  {# End Help #}
            </div>
        </div>
    </section>
  {% endif %} {# End help  #}

  {# Content Featured #}
  {% if page.content_featured  %}
  <section id="content_featured">
    {{ page.content_featured }}
  </section>
  {% endif %} {# End content_featured  #}

  {# Highlighted #}
  {% if page.highlighted  %}
    {% block highlighted %}
      <div class="{{ container }}">
          <div class="row">
              <div class="col-xs-12">
                  {{ page.highlighted }}
              </div>
          </div>
      </div>
    {% endblock %}
  {% endif %} {# End Highlighted  #}

    <div class="{{ container }}">
      <div class="row">
        <article id="content" class="col-xs-12" role="main">
          {{ breadcrumb }}

          {# Content Top #}
          {% if page.content_top  %}
            {{ page.content_top }}
          {% endif %} {# End Content Top #}
        </article>
        </div>
    </div>

    <div class="{{ container }}">

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'column col-sm-6 col-sm-push-3',
          page.sidebar_first and page.sidebar_second is empty ? 'column col-sm-9 col-sm-push-3',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-7 col-md-8 col-lg-8 col-8 column',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>


        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% set first_sidebar = create_attribute() %}
				{%
					set sidebar_first_classes = [
						page.sidebar_first and page.sidebar_second ? 'col-sm-3 col-sm-pull-6',
						page.sidebar_first and page.sidebar_second is empty ? 'col-sm-3 col-sm-pull-9'
					]
				%}
        {% block sidebar_first %}
          <aside{{ first_sidebar.addClass(sidebar_first_classes) }} role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Sidebar Second #}
      {% if page.sidebar_second %}
      {% set second_sidebar = create_attribute() %}

        {%
          set sidebar_second_classes = [
            page.sidebar_first and page.sidebar_second ? 'col-sm-3',
            page.sidebar_second and page.sidebar_first is empty ? 'col-sm-5 col-md-4 col-lg-4 column'
          ]
        %}
        {% block sidebar_second %}
        <aside{{ second_sidebar.addClass(sidebar_second_classes) }} role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>

   {% if page.full_width_content_bottom  %}
     {{ page.full_width_content_bottom }}
   {% endif %}
   {% if page.content_2_col_1  or  page.content_2_col_2  %}
    <div class="container">
        <div class="row">
           <div class="col-md-6">
               {{ page.content_2_col_1 }}
           </div>
           <div class="col-md-6">
               {{ page.content_2_col_2 }}
           </div>
        </div>
    </div>
   {% endif %}
   {% if page.content_3_col_1  or  page.content_3_col_2  or  page.content_3_col_3  %}
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    {{ page.content_3_col_1 }}
                </div>
                <div class="col-md-4">
                    {{ page.content_3_col_2 }}
                </div>
                <div class="col-md-4">
                    {{ page.content_3_col_3 }}
                </div>
        </div>
    </div>
    {% endif %}
    {% if page.content_bottom  %}
    <div class="container">
        <div class="row">
        <article class="col-xs-12">
           {{ page.content_bottom }}
        </article>
        </div>
    </div>
   {% endif %}
   {% if page.content_4_col_1  or  page.content_4_col_2  or  page.content_4_col_3  or  page.content_4_col_4  %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ page.content_4_col_1 }}
            </div>
            <div class="col-md-3">
                {{ page.content_4_col_2 }}
            </div>
            <div class="col-md-3">
                {{ page.content_4_col_3 }}
            </div>
            <div class="col-md-3">
                {{ page.content_4_col_4 }}
            </div>
        </div>
    </div>
     {% endif %}
</div> <!-- /.main -->

{% endblock %}
</div>

<footer id="footer_site" class="{{ classes }} page-row">
  {# Defined in template file: region--footer.twig.  #}
  {{ page.footer }}
  {# Defined in template file: region--footer-sub.twig.  #}
  {{ page.footer_sub }}
</footer>

{{ page.bottom }}
