{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{% if ua_copyright_notice  or  content %}
  <div id="footer_sub" class="{{ classes }} ">
    <div class="{{ container }}">
      <div class="row">
        {{ content }}
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          {% if content %}
            <hr>
          {% endif %}
          {{ ua_copyright_notice|raw }}
        </div>
      </div>
    </div>
    <div class="page-row-padding-bottom"></div>
  </div>
{% endif %}