{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{% if content %}
  {% block footer %}
    <div class="{{ container }} {{ classes }} ">
      <div class="row">
        <div class="page-row-padding-top page-row-padding-bottom"></div>
        <div class="page-row-padding-top page-row-padding-bottom"></div>
        {% if content %}
          <!-- Add the extra clearfix for only the required viewport -->
          <div class="clearfix visible-xs-block"></div>
          <div class="col-xs-12">
            {{ content }}
          </div>
        {% endif %}
        <div class="col-xs-12">
          <hr>
        </div>
      </div>
    </div>
  {% endblock %}
{% endif %}
