{% if content %}
  {% block header_right %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center-xs text-left-not-xs">
      {% if content %}
          {{ content }}
      {% endif %}
    </div>
  {% endblock %}
{% endif %}