{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
<header id="header_ua" class="l-arizona-header bg-red bg-cochineal-red">
    <section class="{{ container }} l-container">
      <div class="row">
        <div class="col-xs-12">
          <a href="http://www.arizona.edu" title="The University of Arizona homepage" class="arizona-logo">
            <img alt="The University of Arizona Wordmark Line Logo White" src="https://brand.arizona.edu/sites/default/files/digital-resources/ua_wordmark_line_logo_white_rgb.svg" class="arizona-line-logo" />
          </a>
        </div>
      </div>
    </section>
</header>

